dynamical_systems/__pycache__/canonical.cpython-38.pyc
.vscode/settings.json
dynamical_systems/__pycache__/__init__.cpython-38.pyc
positionDMP/testQuat.py
test_grad.py
utils/manipulation/kinematics.py
utils/manipulation/__pycache__/kinematics.cpython-38.pyc
utils/manipulation/__pycache__/manipulator.cpython-38.pyc
positionDMP/__pycache__/dmp_quat.cpython-38.pyc
positionDMP/__pycache__/dmp_position.cpython-38.pyc
obstacles/__pycache__/obstacle.cpython-38.pyc
__pycache__
positionDMP/__pycache__
utils/__pycache__
utils\manipulation\__pycache__
obstacles\__pycache__
testTelop.py
dmp_position.mp4
